<%- include('../masterframe/head.html') %>
<%- include('../masterframe/header.html') %>
<%- include('../masterframe/nav.html') %>


    <div class="row-4-wrapper">

<div class="grid-emptywhite"></div>
<div class="grid-main">
    <div class="main">
<%- include(page) %> 
    </div>
</div>
    

<%- include('../masterframe/aside.html') %>
<%- include('../masterframe/footer.html') %>
